.player-section {
    background-color: #F8FAF9;
}

.player-section__container {
    display: flex;
    justify-content: center;
}

.player__title {
    margin-bottom: rem(30px);
}

.player__wrapper {
    width: rem(662px);
    height: rem(392px);
}

#video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.player {
    width: rem(662px);
    height: rem(392px);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &--active {
        visibility: hidden;
    }
    }

.duration__img {
    fill: #fff;
    width: rem(11px);
    height: rem(16px);
    margin-right: rem(29px);
    cursor: pointer;
}

.sound__img {
    margin-right: rem(25px);
    cursor: pointer;
}

.player__splash {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    background: url(../../img/decor/splash.jpg) center center/cover no-repeat;

    &__img {
        width: rem(75px);
        height: rem(110px);
        fill: #fff;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
    }
}

.player__controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: rem(35px);
    background-color: #404040;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 rem(17px);
}

.sound__img {
    width: rem(13px);
    height: rem(16px);
}

.duration__length {
    width: rem(446px);
    height: 5px;

    &--other {
        width: rem(58px);
    }
}

.duration, .sound {
    align-items: center;
    display: flex;
    justify-content: center;
}